<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopsMapper">


    <insert id="save" parameterType="Shops" keyProperty="id" useGeneratedKeys="true">
        insert into shops(id,name,hotelId,address,createTime,updateTime)
        values (#{id},#{name},#{hotelId},#{address},#{createTime},#{updateTime})
    </insert>

    <select id="getDeatilById" parameterType="java.lang.Integer" resultType="Shops">
        select * from shops where id=#{id}
    </select>

    <select id="findAll" parameterType="java.util.Map" resultType="Shops">
        select  * from shops where 1=1
        <if test="keywords!=null and keywords !=''">
            and name like concat('%', #{keywords}, '%')
        </if>
        <if test="hotelId!=null and hotelId !=''">
            and hotelId =#{hotelId}
        </if>
    </select>

    <update id="update" parameterType="Shops">
        update shops
        set address=#{address},
            name=#{name}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete  from shops where id=#{id}
    </delete>

    <delete id="deleteUserAndShops" parameterType="UserAndShops">
        delete  from user_shops where userId=#{userId} and shopsId=#{shopsId}
    </delete>

    <insert id="saveUserAndShops" parameterType="UserAndShops">
        insert into user_shops(id,userId,shopsId) values (#{id},#{userId},#{shopsId})
    </insert>

    <select id="selectCheckedShops" parameterType="java.lang.Integer" resultType="Shops">
        select * from shops wehre exists (select 1 from user_shops us where us.shopsId=shops.id and exists
        (select 1 from user_role ur where ur.userId=us.userId and ur.roleId=#{roleId} )
        )
    </select>
</mapper>
