<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserStatisticsMapper">


    <select id="getDb" parameterType="java.util.Map" resultType="java.util.Map">
        select a.*,su.name userName from(
        select us.userId,us.type,
        <if test="targetId !=null and targetId !=''">
               targetId,
        </if>
        sum(us.num) num from user_statistics us where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where  us1.shopsId=s.id and us1.userId=us.userId and s.id in
                <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                    #{code}
                </foreach>
                )
        </if>
        group by userId,type
        <if test="targetId !=null and targetId !=''">
                ,targetId
        </if>
        ) a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        <if test="targetId !=null and targetId !=''">
            and targetId=#{targetId}
        </if>
        ) b
        on a.userId=b.userId and a.type=b.type
        left join
        sys_user su
        on su.id=a.userId
        where a.num &gt;= b.zb
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        limit 5
    </select>

    <select id="getWdb" parameterType="java.util.Map" resultType="java.util.Map">
        select a.*,su.name userName from(
        select us.userId,us.type,
        <if test="targetId !=null and targetId !=''">
            targetId,
        </if>
        sum(us.num) num from user_statistics us where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>

        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where  us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>

        group by userId,type
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        ) a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        <if test="targetId !=null and targetId !=''">
            and targetId=#{targetId}
        </if>
        ) b
        on a.userId=b.userId and a.type=b.type
        left join
        sys_user su
        on su.id=a.userId
        where a.num &lt; b.zb
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        limit 5
    </select>


    <select id="getMoreDb" parameterType="java.util.Map" resultType="java.util.Map">
            select a.*,su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName from(
            select us.userId,us.type,targetId,
                   sum(us.num) num from user_statistics us where type=#{type}
            <if test="timeStart !=null and timeStart !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
            </if>

            <if test="timeEnd !=null and timeEnd !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
            </if>
        group by userId,type,targetId
        ) a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where a.num &gt;= b.zb
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
           and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
    </select>

    <select id="getMoreWdb" parameterType="java.util.Map" resultType="java.util.Map">
        select a.*,su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName from(
            select us.userId,us.type, targetId,sum(us.num) num from user_statistics us where type=#{type}
            <if test="timeStart !=null and timeStart !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
            </if>

            <if test="timeEnd !=null and timeEnd !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
            </if>
        group by userId,type,targetId
        ) a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where a.num &lt; b.zb
        <if test="targetId !=null and targetId !=''">
                and a.targetId=#{targetId}
            </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
    </select>


    <select id="getDbDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select a.userId,a.type,a.targetId,DATE_FORMAT(createTime,'%Y-%m-%d') createTime,
        su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName
        from user_statistics a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where a.num &gt;= b.zb and type=#{type}
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(a.createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(a.createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>

        <if test="userId !=null and userId !=''">
            and a.userId= #{userId}
        </if>
    </select>


    <select id="getWdbDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select a.userId,a.type,a.targetId,DATE_FORMAT(createTime,'%Y-%m-%d') createTime,
        su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName
        from user_statistics a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where a.num &lt; b.zb and type=#{type}
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(a.createTime,'%Y-%m-%d')  &gt;=#{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(a.createTime,'%Y-%m-%d')  &lt;=#{timeEnd}
        </if>
        <if test="userId !=null and userId !=''">
            and a.userId= #{userId}
        </if>
    </select>


    <select id="getFwzbtj" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,b.zb-c.zb-d.zb zb from(
        select us.userId,us.type,sum(us.num) num from user_statistics us where 1=1
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>
        group by userId,type
        ) a
        left join
        (select
            sum(targetOne+targetTwo+targetThree+ targetFour+targetFive+
                targetSix+targetSeven+targetEight+targetNine+targetTen+ targetEleven+targetTwelve) zb,
                userId,type
            from user_targetchild
            where year &gt;=#{yearStart} and year &lt;=#{yearEnd}
            group by userId,type
        ) b
        on a.userId=b.userId and a.type=b.type
        left join
        (select
            0
        <if test="1s1 !=null and 1s1 !=''">
            +targetOne
        </if>
        <if test="2s1 !=null and 2s1 !=''">
            +targetTwo
        </if>
        <if test="3s1 !=null and 3s1 !=''">
            +targetThree
        </if>
        <if test="4s1 !=null and 4s1 !=''">
            +targetFour
        </if>
        <if test="5s1 !=null and 5s1 !=''">
            +targetFive
        </if>
        <if test="6s1 !=null and 6s1 !=''">
            +targetSix
        </if>
        <if test="7s1 !=null and 7s1 !=''">
            +targetSeven
        </if>
        <if test="8s1 !=null and 8s1 !=''">
            +targetEight
        </if>
        <if test="9s1 !=null and 9s1 !=''">
            +targetNine
        </if>
        <if test="10s1 !=null and 10s1 !=''">
            +targetNine
        </if>
        <if test="11s1 !=null and 11s1 !=''">
            +targetEleven
        </if>
        <if test="12s1 !=null and 12s1 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        from user_targetchild
        where year =#{yearStart}
        ) c
        on a.userId=c.userId and a.type=c.type
        left join
        (select
        0
        <if test="1s2 !=null and 1s2 !=''">
            +targetOne
        </if>
        <if test="2s2 !=null and 2s2 !=''">
            +targetTwo
        </if>
        <if test="3s2 !=null and 3s2 !=''">
            +targetThree
        </if>
        <if test="4s2 !=null and 4s2 !=''">
            +targetFour
        </if>
        <if test="5s2 !=null and 5s2 !=''">
            +targetFive
        </if>
        <if test="6s2 !=null and 6s2 !=''">
            +targetSix
        </if>
        <if test="7s2 !=null and 7s2 !=''">
            +targetSeven
        </if>
        <if test="8s2 !=null and 8s2 !=''">
            +targetEight
        </if>
        <if test="9s2 !=null and 9s2 !=''">
            +targetNine
        </if>
        <if test="10s2 !=null and 10s2 !=''">
            +targetNine
        </if>
        <if test="11s2 !=null and 11s2 !=''">
            +targetEleven
        </if>
        <if test="12s2 !=null and 12s2 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        from user_targetchild
        where year =#{yearEnd}
        ) d
        on a.userId=d.userId and a.type=d.type
    </select>

    <select id="getFwzbtjOneShopsDeatil" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,b.zb-c.zb-d.zb zb,(select name from target t where t.id=a.targetId) targetName from(
        select us.userId,us.type,targetId,
               sum(us.num) num from user_statistics us where 1=1
        and type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>
        group by userId,type,targetId
        ) a
        left join
        (select
        sum(targetOne+targetTwo+targetThree+ targetFour+targetFive+
        targetSix+targetSeven+targetEight+targetNine+targetTen+ targetEleven+targetTwelve) zb,
        userId,type,targetId
        from user_targetchild
        where year &gt;=#{yearStart} and year &lt;=#{yearEnd}
        group by userId,type,targetId
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select
        0
        <if test="1s1 !=null and 1s1 !=''">
            +targetOne
        </if>
        <if test="2s1 !=null and 2s1 !=''">
            +targetTwo
        </if>
        <if test="3s1 !=null and 3s1 !=''">
            +targetThree
        </if>
        <if test="4s1 !=null and 4s1 !=''">
            +targetFour
        </if>
        <if test="5s1 !=null and 5s1 !=''">
            +targetFive
        </if>
        <if test="6s1 !=null and 6s1 !=''">
            +targetSix
        </if>
        <if test="7s1 !=null and 7s1 !=''">
            +targetSeven
        </if>
        <if test="8s1 !=null and 8s1 !=''">
            +targetEight
        </if>
        <if test="9s1 !=null and 9s1 !=''">
            +targetNine
        </if>
        <if test="10s1 !=null and 10s1 !=''">
            +targetNine
        </if>
        <if test="11s1 !=null and 11s1 !=''">
            +targetEleven
        </if>
        <if test="12s1 !=null and 12s1 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type,targetId
        from user_targetchild
        where year =#{yearStart}
        ) c
        on a.userId=c.userId and a.type=c.type and a.targetId=c.targetId
        left join
        (select
        0
        <if test="1s2 !=null and 1s2 !=''">
            +targetOne
        </if>
        <if test="2s2 !=null and 2s2 !=''">
            +targetTwo
        </if>
        <if test="3s2 !=null and 3s2 !=''">
            +targetThree
        </if>
        <if test="4s2 !=null and 4s2 !=''">
            +targetFour
        </if>
        <if test="5s2 !=null and 5s2 !=''">
            +targetFive
        </if>
        <if test="6s2 !=null and 6s2 !=''">
            +targetSix
        </if>
        <if test="7s2 !=null and 7s2 !=''">
            +targetSeven
        </if>
        <if test="8s2 !=null and 8s2 !=''">
            +targetEight
        </if>
        <if test="9s2 !=null and 9s2 !=''">
            +targetNine
        </if>
        <if test="10s2 !=null and 10s2 !=''">
            +targetNine
        </if>
        <if test="11s2 !=null and 11s2 !=''">
            +targetEleven
        </if>
        <if test="12s2 !=null and 12s2 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type,targetId
        from user_targetchild
        where year =#{yearEnd}
        ) d
        on a.userId=d.userId and a.type=d.type and a.targetId=d.targetId
    </select>


    <select id="getFwzbtjMoreShopsDeatil" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,b.zb-c.zb-d.zb zb, a.shopsName from(
        select us.userId,us.type,s.shopsId,s.shopsName,
        <if test="targetId !=null and targetId !=''">
             us.targetId,
        </if>
        sum(us.num) num from user_statistics us
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        and type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
        group by userId,type,shopsId,shopsName
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        ) a
        left join
        (select
        sum(targetOne+targetTwo+targetThree+ targetFour+targetFive+
        targetSix+targetSeven+targetEight+targetNine+targetTen+ targetEleven+targetTwelve) zb,
        userId,type
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        from user_targetchild
        where year &gt;=#{yearStart} and year &lt;=#{yearEnd}
        group by userId,type
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        ) b
        on a.userId=b.userId and a.type=b.type
        <if test="targetId !=null and targetId !=''">
            and a.targetId=b.targetId
        </if>
        left join
        (select
        0
        <if test="1s1 !=null and 1s1 !=''">
            +targetOne
        </if>
        <if test="2s1 !=null and 2s1 !=''">
            +targetTwo
        </if>
        <if test="3s1 !=null and 3s1 !=''">
            +targetThree
        </if>
        <if test="4s1 !=null and 4s1 !=''">
            +targetFour
        </if>
        <if test="5s1 !=null and 5s1 !=''">
            +targetFive
        </if>
        <if test="6s1 !=null and 6s1 !=''">
            +targetSix
        </if>
        <if test="7s1 !=null and 7s1 !=''">
            +targetSeven
        </if>
        <if test="8s1 !=null and 8s1 !=''">
            +targetEight
        </if>
        <if test="9s1 !=null and 9s1 !=''">
            +targetNine
        </if>
        <if test="10s1 !=null and 10s1 !=''">
            +targetNine
        </if>
        <if test="11s1 !=null and 11s1 !=''">
            +targetEleven
        </if>
        <if test="12s1 !=null and 12s1 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        <if test="targetId !=null and targetId !=''">
        ,targetId
        </if>
        from user_targetchild
        where year =#{yearStart}
        ) c
        on a.userId=c.userId and a.type=c.type
        <if test="targetId !=null and targetId !=''">
            and a.targetId=c.targetId
        </if>

        left join
        (select
        0
        <if test="1s2 !=null and 1s2 !=''">
            +targetOne
        </if>
        <if test="2s2 !=null and 2s2 !=''">
            +targetTwo
        </if>
        <if test="3s2 !=null and 3s2 !=''">
            +targetThree
        </if>
        <if test="4s2 !=null and 4s2 !=''">
            +targetFour
        </if>
        <if test="5s2 !=null and 5s2 !=''">
            +targetFive
        </if>
        <if test="6s2 !=null and 6s2 !=''">
            +targetSix
        </if>
        <if test="7s2 !=null and 7s2 !=''">
            +targetSeven
        </if>
        <if test="8s2 !=null and 8s2 !=''">
            +targetEight
        </if>
        <if test="9s2 !=null and 9s2 !=''">
            +targetNine
        </if>
        <if test="10s2 !=null and 10s2 !=''">
            +targetNine
        </if>
        <if test="11s2 !=null and 11s2 !=''">
            +targetEleven
        </if>
        <if test="12s2 !=null and 12s2 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        from user_targetchild
        where year =#{yearEnd}
        ) d
        on a.userId=d.userId and a.type=d.type
        <if test="targetId !=null and targetId !=''">
            and a.targetId=d.targetId
        </if>
        where 1=1
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>

    </select>
    
    <select id="getsdqsByWeek" parameterType="java.util.Map" resultType="java.util.Map">
        select targetId,(select name from target t where t.id=us.targetId) targetName, DATE_FORMAT(createTime,'%Y-%m-%d') createTime,
        sum(us.num) num from user_statistics us
            where type=#{type}
            <if test="timeStart !=null and timeStart !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
            </if>
            <if test="timeEnd !=null and timeEnd !=''">
                and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
            </if>
            <if test="shopsId !=null and shopsId !=''">
                and exists (select 1 from shops s,user_shops us1 where  us1.shopsId=s.id and us1.userId=us.userId and s.id in
                <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                    #{code}
                </foreach>
                )
            </if>
            group by targetId,targetName,createTime
    </select>

    <select id="getSdzbWeekDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select a.*,su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName from(
        select us.userId,us.type,targetId,
        sum(us.num) num from user_statistics us where type=#{type}
        <if test="time !=null and time !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') = #{time}
        </if>
        group by userId,type,targetId
        ) a
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
        </if>
    </select>

    <select id="getsdqsByMonth" parameterType="java.util.Map" resultType="java.util.Map">
        select targetId,(select name from target t where t.id=us.targetId) targetName, DATE_FORMAT(createTime,'%Y-%m') createTime,
        sum(us.num) num from user_statistics us
        where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where  us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>
        group by targetId,targetName,createTime
    </select>


    <select id="getSdzbMonthDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select targetId,(select name from target t where t.id=us.targetId) targetName, DATE_FORMAT(createTime,'%Y-%m-%d') createTime,
        sum(us.num) num from user_statistics us
        where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where  us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>
        group by targetId,targetName,createTime
    </select>

    <select id="mdyjtj" parameterType="java.util.Map" resultType="java.util.Map">
       select a.shopsName,a.num num0,b.num num1,c.num num2 from
        (select a.num,s.shopsName,s.shopsId from(
        select us.userId,us.type,sum(us.num) num
        from user_statistics us where type=0
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &lt;= #{timeEnd}
        </if>
        group by userId,type
        ) a
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item="code" collection="shopsId" separator="," open="(" close=")"></foreach>
        </if>
        #{code}
        ) a
        left join
        (select a.num,s.shopsName,s.shopsId from(
        select us.userId,us.type,sum(us.num) num
        from user_statistics us where type=1
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &lt;= #{timeEnd}
        </if>
        group by userId,type
        ) a
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item="code" collection="shopsId" separator="," open="(" close=")"></foreach>
        </if>
        #{code}
        ) b
        on a.shopsId=b.shopsId
        left join
        (select a.num,s.shopsName,s.shopsId from(
        select us.userId,us.type,sum(us.num) num
        from user_statistics us where type=2
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d') &lt;= #{timeEnd}
        </if>
        group by userId,type
        ) a
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item="code" collection="shopsId" separator="," open="(" close=")"></foreach>
        </if>
        #{code}
        ) c
        on b.shopsId=c.shopsId
    </select>


    <select id="mdyjmbtj" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,b.zb-c.zb-d.zb zb,a.type from(
        select us.userId,us.type,
        sum(us.num) num from user_statistics us where 1=1
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>
        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and exists (select 1 from shops s,user_shops us1 where us1.shopsId=s.id and us1.userId=us.userId and s.id in
            <foreach item = "code" collection="shopsId" separator="," open="(" close=")">
                #{code}
            </foreach>
            )
        </if>
        group by userId,type
        ) a
        left join
        (select
        sum(targetOne+targetTwo+targetThree+ targetFour+targetFive+
        targetSix+targetSeven+targetEight+targetNine+targetTen+ targetEleven+targetTwelve) zb,
        userId,type
        from user_targetchild
        where year &gt;=#{yearStart} and year &lt;=#{yearEnd}
        group by userId,type
        ) b
        on a.userId=b.userId and a.type=b.type
        left join
        (select
        0
        <if test="1s1 !=null and 1s1 !=''">
            +targetOne
        </if>
        <if test="2s1 !=null and 2s1 !=''">
            +targetTwo
        </if>
        <if test="3s1 !=null and 3s1 !=''">
            +targetThree
        </if>
        <if test="4s1 !=null and 4s1 !=''">
            +targetFour
        </if>
        <if test="5s1 !=null and 5s1 !=''">
            +targetFive
        </if>
        <if test="6s1 !=null and 6s1 !=''">
            +targetSix
        </if>
        <if test="7s1 !=null and 7s1 !=''">
            +targetSeven
        </if>
        <if test="8s1 !=null and 8s1 !=''">
            +targetEight
        </if>
        <if test="9s1 !=null and 9s1 !=''">
            +targetNine
        </if>
        <if test="10s1 !=null and 10s1 !=''">
            +targetNine
        </if>
        <if test="11s1 !=null and 11s1 !=''">
            +targetEleven
        </if>
        <if test="12s1 !=null and 12s1 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        from user_targetchild
        where year =#{yearStart}
        ) c
        on a.userId=c.userId and a.type=c.type
        left join
        (select
        0
        <if test="1s2 !=null and 1s2 !=''">
            +targetOne
        </if>
        <if test="2s2 !=null and 2s2 !=''">
            +targetTwo
        </if>
        <if test="3s2 !=null and 3s2 !=''">
            +targetThree
        </if>
        <if test="4s2 !=null and 4s2 !=''">
            +targetFour
        </if>
        <if test="5s2 !=null and 5s2 !=''">
            +targetFive
        </if>
        <if test="6s2 !=null and 6s2 !=''">
            +targetSix
        </if>
        <if test="7s2 !=null and 7s2 !=''">
            +targetSeven
        </if>
        <if test="8s2 !=null and 8s2 !=''">
            +targetEight
        </if>
        <if test="9s2 !=null and 9s2 !=''">
            +targetNine
        </if>
        <if test="10s2 !=null and 10s2 !=''">
            +targetNine
        </if>
        <if test="11s2 !=null and 11s2 !=''">
            +targetEleven
        </if>
        <if test="12s2 !=null and 12s2 !=''">
            +targetTwelve
        </if>
        zb,
        userId,type
        from user_targetchild
        where year =#{yearEnd}
        ) d
        on a.userId=d.userId and a.type=d.type
    </select>

    <select id="ygyjtj" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,su.name userName,su.roleName from(
        select us.userId,us.type,
        <if test="targetId !=null and targetId !=''">
            targetId,
        </if>
        sum(us.num) num from user_statistics us where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        group by userId,type
        <if test="targetId !=null and targetId !=''">
            ,targetId
        </if>
        ) a
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1
        <if test="targetId !=null and targetId !=''">
            and a.targetId=#{targetId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item="code" collection="shopsId" separator="," open="(" close=")"></foreach>
        </if>
        order by a.num
    </select>

    <select id="ygyjmbtj" parameterType="java.util.Map" resultType="java.util.Map">
        select a.num,su.name userName,su.roleName,(select name from target t where t.id=a.targetId) targetName,s.shopsName,b.zb from(
        select us.userId,us.type, targetId,sum(us.num) num from user_statistics us where type=#{type}
        <if test="timeStart !=null and timeStart !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &gt;= #{timeStart}
        </if>

        <if test="timeEnd !=null and timeEnd !=''">
            and DATE_FORMAT(createTime,'%Y-%m-%d')  &lt;= #{timeEnd}
        </if>
        group by userId,type,targetId
        ) a
        left join
        (select
        case when #{targetOne} is not null then targetOne
        when #{targetTwo} is not null then targetTwo
        when #{targetThree} is not null then targetThree
        when #{targetFour} is not null then targetFour
        when #{targetFive} is not null then targetFive
        when #{targetSix} is not null then targetSix
        when #{targetSeven} is not null then targetSeven
        when #{targetEight} is not null then targetEight
        when #{targetNine} is not null then targetNine
        when #{targetTen} is not null then targetTen
        when #{targetEleven} is not null then targetEleven
        when #{targetTwelve} is not null then targetTwelve
        end zb,userId,type,targetId
        from user_targetchild
        where year=#{year} and type=#{type}
        ) b
        on a.userId=b.userId and a.type=b.type and a.targetId=b.targetId
        left join
        (select su.*,sr.name roleName from sys_user su,user_role ur,sys_role sr where su.id=ur.userId and
        sr.id=ur.roleId) su
        on su.id=a.userId
        left join
        (select s.id shopsId,s.name shopsName,su1.userId from shops s,user_shops us1 where  us1.shopsId=s.id ) s
        on s.userId=a.userId
        where 1=1 and a.targetId=#{targetId}
        <if test="userId !=null and userId !=''">
            and a.userId=#{userId}
        </if>
        <if test="shopsId !=null and shopsId !=''">
            and s.shopsId in
            <foreach item="code" collection="shopsId" separator="," open="(" close=")"></foreach>
        </if>
    </select>
</mapper>
