<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserTargetMapper">


    <insert id="addUserTargetP" parameterType="UserTargetP">
        insert into user_targetparent(id,shopsId,targetId,type,year)
        values (#{id},#{shopsId},#{targetId},#{type},#{year})
    </insert>

    <insert id="addUserTargetC" parameterType="UserTargetC">
        INSERT INTO user_targetchild
        (id, targetId, userId,userName,roleId,roleName,utpId,year,targetOne,targetTwo,targetThree,targetFour,targetFive,targetSix,targetSeven,targetEight
        ,targetNine,targetTen,targetEleven,targetTwelve)
        VALUES
        <foreach collection ="list" item="user" separator =",">
            (#{user.id},#{user.targetId}, #{user.userId},#{user.userName}, #{user.roleId},#{user.roleName}, #{user.utpId},#{user.year}, #{user.targetOne}
            ,#{user.targetTwo}, #{user.targetThree},#{user.targetFour}, #{user.targetFive},#{user.targetSix}, #{user.targetSeven},#{user.targetEight},
             #{user.targetNine}, #{user.targetTen},#{user.targetEleven},#{user.targetTwelve})
        </foreach >
    </insert>


    <select id="findAll" parameterType="java.util.Map" resultType="java.util.Map">
        select  t.*,s.name shopsName,t1.name targetName from user_targetparent t,shops s,target t1 where t.shopsId=s.id and t.targetId=t1.id
        <if test="shopsId!=null and shopsId !=''">
            and t.shopsId=#{shopsId}
        </if>
        <if test="targetId!=null and targetId !=''">
            and t.targetId=#{targetId}
        </if>
        <if test="type!=null and type !=''">
            and t.type=#{type}
        </if>
    </select>

    <select id="getChildByParentId" parameterType="java.lang.Integer" resultType="UserTargetC" >
        select * from user_targetchild where utpId=#{id}
    </select>

    <select id="getDeatilById" parameterType="java.lang.Integer" resultType="UserTargetP" >
        select * from user_targetparent where id=#{id}
    </select>

    <update id="updateUserTargetDb" parameterType="UserTargetP">
        update user_targetparent
        set shopsId=#{shopsId},
            targetId=#{targetId},
            type=#{type},
            year=#{year}
        where id=#{id}
    </update>

    <delete id="deleteUserTargetP" parameterType="java.lang.Integer">
        delete  from user_targetparent where id=#{id}
    </delete>

    <delete id="deleteUserTargetC" parameterType="java.lang.Integer">
        delete  from user_targetchild where utpId=#{id}
    </delete>

</mapper>
